* {
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stage {
  background-color: brown;
  height: 600px;
  width: 600px;
  border-radius: 5px;
}

#avatar {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: burlywood;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#obstacle,
#reward {
  display: none;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
#obstacle {
  background-color: blue;
}
#reward {
  background-color: aquamarine;
}
